[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
setuptools = "*"
drf-yasg = "*"
faker = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
django-templated-mail = "*"
flower = "*"
gunicorn = "*"
mysqlclient = "*"
django-environ = "*"
django-celery-results = "*"

[dev-packages]

[requires]
python_version = "3.12"
